{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center hero-content infopage-hero d-flex flex-column justify-content-center">
  <h1 class="hero-title py-1">{{ .Title }}</h1>
</div>

<div class="bg-light justify-content-center infopage-content"  style="min-height: 60vh;">
    <div class="blog-content">
        <h1 class="blog-title">{{ .Title }}</h1>
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <div class="blog-subtext d-flex flex-wrap">
            <p class="blog-subtext-item"><i class="fa fa-user"></i> {{ .Params.Author }}</p>
            <p class="blog-subtext-item"><i class="fa fa-folder"></i> Tags</p>
            <p class="blog-subtext-item"><i class="fa fa-calendar"></i> <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time></p>
        </div>
        <img src="{{ substr .Permalink 0 -1 }}.jpg" alt="{{ .Params.Caption }}" class="blogcard-img">
        <div class="blog-content-text">
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}
