<div class="blogcard-each mx-2 my-2">
    <a href="/{{ .Title | urlize }}"><img src="/blog/{{ .Title | urlize }}.jpg" alt="{{ .Params.Caption }}" class="blogcard-img"></a>
    <div class="blogcard-content py-4 px-4">
        <a href="/{{ .Title | urlize}}" class="blogcard-title"><h4>{{ .Title }}</h4></a>
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

        <p>{{ .Content | truncate 200 }}</p>
        <p><a href="/{{ .Title | urlize }}"><span style="text-decoration: underline;">Read More</span>&nbsp;<i class="fas fa-angle-double-right"></i></a></p>
    </div>
</div>