<nav class="navbar navbar-expand-lg px-lg-5 py-lg-2 fixed-top topbar">
  <div class="container-fluid flex-nowrap px-lg-5">
    <a class="navbar-brand" href="/">
      <img src="/osusec-banner.png" class="img-fluid" alt="OSUSEC" width="450px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <ul class="navbar-nav d-flex mb-2 mb-lg-0">
        {{ $about := .Site.Menus.about }}
        {{ $page := .Page}}
        {{ range .Site.Menus.main }}
          {{ $text := print .Name | safeHTML }}
          {{ if eq $text "About" }}
            <li class="nav-item px-1 dropdown">
              <a class="nav-link text-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ $text }}</a>
              <ul class="dropdown-menu">
                {{ range $about }}
                  {{ $text = print .Name | safeHTML }}
                  <li><a class="dropdown-item topbar topbar-drop shadow-none" href="{{ .URL }}">{{ $text }}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ else if eq $text "Home" }}
            {{ $sitetitle := "OSU Security Club - Oregon State University Security Club" }}
            <li class="nav-item px-1">
              <a class="nav-link text-black {{ if eq $page.Title $sitetitle }}userisonthisnavnow{{ end }}" href="{{ .URL }}">{{ $text }}</a>
            </li>
          {{ else }}
            <li class="nav-item px-1">
              <a class="nav-link text-black {{ if eq $text $page.Title }}userisonthisnavnow{{ end }}" href="{{ .URL }}">{{ $text }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

