{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center hero-content homepage-hero d-flex flex-column justify-content-center">
  <h1 class="hero-title py-1">{{ .Site.Params.FullTitle }}</h1>
  <p class="hero-subtitle py-1">{{ .Site.Params.subTitle | markdownify }}</p>
  <div class="hero-buttons d-flex justify-content-center">
    <button class="btn hero-buttons sli-button mx-3" onclick="window.open({{ .Site.Params.sliLink }}, '_blank').focus();">Sign Up on SLI</button>
    <button class="btn hero-buttons discord-button mx-3" onclick="window.open({{ .Site.Params.discordLink}}, '_blank').focus();">Join our Discord</button>
  </div>
</div>

<div class="bg-light justify-content-center"  style="min-height: 45vh;">
  <div class="blurb-box d-flex flex-wrap justify-content-around">
    {{ range .Site.Sections }}
      {{ if eq .Type "home" }}
        {{ range .Sections.ByWeight }}
          {{ partial "home/blurb.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>

<div class=" bg-light infopage-content"  style="min-height: 60vh;">
  <div class="d-flex flex-wrap justify-content-center latest-blogposts-title latest-blogposts">
    <h1>Latest  Blogposts</h1>
    <!-- We use our blog to post write-ups from competitions or wargame challenges, summaries of our meetings, important upcoming events, or something cool in security. -->
  </div>
  
  <div class="blogcards d-flex flex-wrap justify-content-center latest-blogposts">
    {{ range ( where .Site.RegularPages "Type" "blog" ) | first 3 }}
      {{ partial "blogcard.html" . }}
    {{ end }}
  </div>
  <!-- a button to go to all blogposts -->
</div>

{{ end }}
