:root {
    --primary-color: #dc4405;
    --secondary-color: #f15f25;
}

/* protip: I HATE FOOTERS */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    margin-top: 150px;
    flex-grow: 1;
}

/* styling top bar */

.heading {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.topbar {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;

    box-shadow: 0 0 5px 2px rgba(0,0,0,.33);
}
.topbar-drop {
    text-transform: none;
    box-shadow: none;
}

.userisonthisnavnow {
    border-bottom: 3px solid var(--primary-color);
}

.highlight-orange-nav {
    color: black;
}

.highlight-orange-nav:hover {
    color: var(--secondary-color) !important;
}


#background-img {
    background-size: auto;
    background-color: #a0aa95;
}

#background-img::before {
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: .4; 
    z-index: -1;
    background-color: #0c0070;
}


.hero-content {
    font-family: 'Mulish',sans-serif;
    font-weight: 300;
    letter-spacing: 0.9px;
    color: white;
    margin-bottom: 10vw;
    min-height: 50vh;
}

.hero-title {
    font-size: calc(100% + 1.5vw + 2vh);
}

.hero-subtitle {
    font-size: calc(100% + 0.2vw + 0.2vh);
}

.hero-buttons {
    height: auto;
    min-width: 10vw;
    font-family: "Open Sans", sans-serif;
    font-size: .85rem;
    font-weight: 600;
    padding: .65rem 2rem;
    border-radius: 56px;
    line-height: 1.6rem;
    color: white;
}

.sli-button {
    background-color: var(--primary-color);
}

.discord-button {
    background-color: transparent;
    border: 2px solid white;
}
