:root {
    --primary-color: #dc4405;
    --secondary-color: #f15f25;
    --text-color: #7a7c7e;
    --subheading-color: #3C424F;
    --mutedtext-color: #afafaf;
}

/* protip: I HATE FOOTERS */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    margin-top: 150px;
    flex-grow: 1;
}

/* styling top bar */

.heading {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.topbar {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;

    box-shadow: 0 0 5px 2px rgba(0,0,0,.33);
}
.topbar-drop {
    text-transform: none;
    box-shadow: none;
}

.userisonthisnavnow {
    border-bottom: 3px solid var(--primary-color);
}

.highlight-orange-nav {
    color: black;
}

.highlight-orange-nav:hover {
    color: var(--secondary-color) !important;
}


#background-img {
    background-size: cover;
    background-color: #a0aa95;
}

#background-img::before {
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: .4; 
    z-index: -1;
    background-color: #0c0070;
}


.hero-content {
    font-family: 'Mulish',sans-serif;
    font-weight: 300;
    letter-spacing: 0.9px;
    color: white;
}

.homepage-hero {
    margin-bottom: 10vw;
    min-height: 40vh;
}

.infopage-hero {
    margin: 5rem 0 7.5rem;
}

.hero-title {
    font-size: calc(100% + 1.5vw + 2vh);
}

.hero-subtitle {
    font-size: calc(100% + 0.2vw + 0.2vh);
}

.hero-buttons {
    height: auto;
    min-width: 10vw;
    font-family: "Open Sans", sans-serif;
    font-size: .85rem;
    font-weight: 600;
    padding: .65rem 2rem;
    border-radius: 56px;
    line-height: 1.6rem;
    color: white;
}

.sli-button {
    background-color: var(--primary-color);
}


.sli-button:hover {
    background-color: var(--secondary-color);
}

.discord-button {
    background-color: transparent;
    border: 2px solid white;
}

.discord-button:hover {
    border-color: rgba(255,255,255,.7);
}


.blurb-box {
    min-height: 200px;
    padding: 0 25vw;
}

.blurb-each {
    width: 15rem;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.blurb-title {
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: .14rem;
    color: var(--subheading-color);
}

.blurb-each > p {
    font-size: .99rem;
}

.blurb-icons {
    color: white;
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 1.75rem 1.5rem;
    width: 128px;
    height: 128px;
    box-shadow: 0 10px 30px 0 rgba(49,52,57,.3),0 10px 30px rgba(0,0,0,.08);
}

/*@include media-breakpoint-up(lg) {*/
@media (min-width: 992px) {
    .blurb-icons {
        position: relative;
        bottom: 64px;
    }
}

/*@include media-breakpoint-down(md) {*/
@media (max-width: 991.98px) {
    .blurb-icons {
        margin: 1.5rem;
    }
}


.infopage-content {
    padding: 2rem 20vw;
}

/*@include media-breakpoint-down(md) {*/
@media (max-width: 991.98px) {
    .infopage-content {
        padding: 2rem 5vw;
        text-align: center;
    }
}

.infopage-content > p > a {
    text-decoration: none;
    color: var(--primary-color);
}

.infopage-content > p > a:hover {
    color: var(--secondary-color);
}

.infopage-content>h1, .infopage-content>h2, .infopage-content>h3, .infopage-content>h4, .infopage-content>h5 {
    color: var(--subheading-color);
}

.infopage-content>p {
    color: var(--text-color);
}

.infopage-content>p>img, .infopage-content>iframe {
    max-width: 100%;
    margin: auto;
    display: block;
}

.infopage-content>embed {
    width: 100%;
    height: 100vh;
}

.infopage-content>ul, .infopage-content>ol {
    color: var(--text-color);
}


.blogcard-each {
    width: 20rem;
    border: 1px solid var(--mutedtext-color);
    background-color: white;
}

.blogcard-img {
    width: 100%;
}

.blogcard-content>p>a {
    text-decoration: none;
    color: var(--primary-color);
}

.blogcard-content>p>a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.blogcard-title {
    text-decoration: none;
    color: var(--subheading-color);
    font-family: "Mulish",sans-serif;
    font-weight: 600;
}

.blogcard-title:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.blogcard-content>time, .blog-subtext {
    color: var(--mutedtext-color);
    font-size: 0.9rem;
}

/*@include media-breakpoint-down(md) {*/
@media (max-width: 991.98px) {
    .blog-subtext {
        justify-content: center;
    }
}

.blog-subtext {
    column-gap: 1rem;
}

.blog-subtext-item > i {
    margin-right: 4px;
}

.blogcard-content {
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 600;
}

.blog-content {
    border: 1px solid var(--mutedtext-color);
    padding: 4rem;
    padding-top: 5rem;
    margin-top: 5rem;
    background-color: white;
    color: var(--text-color);
}

/*@include media-breakpoint-down(md) {*/
@media (max-width: 991.98px) {
    .blog-content {
        padding: 1rem;
    }
}

.blog-title {
    color: var(--subheading-color);
    font-family: "Mulish",sans-serif;
    font-weight: 600;
}

.blog-content-text {
    margin-top: 2rem;
}
